<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ExcitContext" connectionString="Data Source=devtest-eastus2-sqlmi-uat-110.e6c85badbd1a.database.windows.net; Initial Catalog=API_External; User Id=ExternalAPI; Password=101APIFor@UATASI!; MultipleActiveResultSets=True; App=EntityFramework; Application Name=EXCIT" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>